<html ng-app="Application03">
	<head>
		<title>Angular Fundamentals - Step 3</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<script type="text/javascript" src="./angular-1.2.22/angular.js"></script>
		<script type="text/javascript" src="./step3.js"></script>
	</head>
	<body>
		<!-- Controller Sample -->
		<div class="panel" ng-controller="dioneController">
			<span ng-repeat="item in items">{{item}}<br></span>
		</div>
		<br>
		<div class="panel" ng-controller="inputWatchController">
			Simple Watcher
			<br>
			<input type="text" ng-model="sniffInput">
		</div>
		<br>
		<!-- Directive Sample and Controller. -->
		<div class="panel">
			Simple Directive: 
			<br>
			<div dioneDirective></div>
		</div>
		<br>
		<div class="panel">
			RegExp:
			<br>
			<input type="text" ng-model="my_value" ng-pattern="H(a|e|o)dro">
			<br>
			{{my_value}}	
		</div>
	</body>
</html>