<html ng-app="myApp">
	<head>
		<title>Angular Basic 2</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<script type="text/javascript" src="./angular-1.2.22/angular.js"></script>
		<script type="text/javascript" src="./step2.js"></script>
	</head>
	<body>
		ToDo List:
		<div ng-controller="myController">
			<span>{{remaining()}} of {{todoList.length}} remaining </span>

			<ul class="unstyled">
				<li ng-repeat="item in todoList">
					<input type="checkbox" ng-model="item.done">
					<span class="done-{{item.done}}">{{item.text}}</span>
				</li>
			</ul>

			<form ng-submit="addTodo()">
				<input type="text" ng-model="todoText" placeholder="todo here...">
				<input type="submit" value="add ToDo"> 
			</form>
		</div>
	</body>
</html>